DEEPSEEK_API_KEY=
OPENAI_API_KEY=
OLLAMA_API_URL=http://localhost:11434

QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=
QDRANT_COLLECTION=

# Embedding model
EMBEDDING_PROVIDER=openai
EMBEDDING_MODEL=
EMBEDDING_DIMENSION=1024
EMBEDDING_API_KEY=
EMBEDDING_BASE_URL=

LANGSMITH_TRACING=false
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=https://cloud.langfuse.com
