cache_dir/
**/log/**
*.pyc
__pycache__/
**/__pycache__/
*.p4i
**/pcap/**
tmp/
.vscode/
**/results/**
.env
/.venv
*.egg-info/
/results/
/runtime/
notebooks/
uv.lock
.agents/
.cursor/
.ruff_cache
.pytest_cache
.codex/
.DS_Store
