cache_dir/
**/log/**
*.pyc
**/__pycache_/**
*.p4i
**/pcap/**
tmp/
.vscode/
**/results/**
.env
/.venv
*.egg-info/
/results/
/runtime/
/.vscode/
/docs/
notebooks/
uv.lock
.agents/
.cursor/
.ruff_cache
.pytest_cache
.codex/