# topology documentation: https://containerlab.dev/lab-examples/min-clos/
name: __LAB_NAME__

mgmt:
  network: br-__LAB_NAME__
  ipv4-subnet: 172.100.100.0/24
  ipv6-subnet: 3fff:172:100:100::0/64

topology:
  kinds:
    nokia_srlinux:
      image: ghcr.io/nokia/srlinux:24.10
    linux:
      image: ghcr.io/hellt/network-multitool
  nodes:
    leaf1:
      kind: nokia_srlinux
      type: ixr-d2l
      mgmt-ipv4: 172.100.100.2
      mgmt-ipv6: 3fff:172:100:100::2
    leaf2:
      kind: nokia_srlinux
      type: ixr-d2l
      mgmt-ipv4: 172.100.100.3
      mgmt-ipv6: 3fff:172:100:100::3
    spine:
      kind: nokia_srlinux
      type: ixr-d3l
      mgmt-ipv4: 172.100.100.4
      mgmt-ipv6: 3fff:172:100:100::4
    client1:
      kind: linux
      mgmt-ipv4: 172.100.100.5
      mgmt-ipv6: 3fff:172:100:100::5
    client2:
      kind: linux
      mgmt-ipv4: 172.100.100.6
      mgmt-ipv6: 3fff:172:100:100::6

  links:
    - endpoints: ["leaf1:e1-1", "spine:e1-1"]
    - endpoints: ["leaf2:e1-1", "spine:e1-2"]
    - endpoints: ["client1:eth1", "leaf1:e1-2"]
    - endpoints: ["client2:eth1", "leaf2:e1-2"]
